@model IEnumerable<Book>


<h1>All books</h1>
<br />
<table class="table">
    @foreach (var book in Model)
    {
        <tr>
            <td class="align-middle">
                <picture>Pic</picture>
            </td>
            <td>
                @Html.DisplayFor(model => book.Title)<br />
                @Html.DisplayFor(model => book.Author)
            </td>
            <td>
                <a asp-action="GetDetails" asp-route-id="@book.ID" class="btn btn-outline-dark">
                    Details
                </a>
            </td>
            <td class="align-middle">
                @if (book.Available)
                {
                    <span class="bg-success p-1 rounded">Available</span>
                }
                else
                {
                    <span class="bg-danger p-1 rounded">Currently unavailable</span>
                }
            </td>
        </tr>   
    }
    
</table>