@model SearchString

<div class="text-center">
    <form asp-action="SearchForBooks" asp-controller="Book" method="get" class="form-group m-5">
        <input type="text" asp-for="SearchKeyword" placeholder="Search for title, author or genre" class="col-7 form-control-lg"/>
        <input type="submit" value="Search" class="btn btn-primary btn-lg" />
    </form>
</div>
